<ion-content>
  <ion-list lines="none">
    <ion-item button mode="ios" [routerLink]="['/weare/about']">
      <ion-label>
        <h2>UN Human Rights</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti ab sint repellat nostrum aliquam
          laboriosam neque? Iste, eos praesentium, quae vitae nesciunt, quod recusandae consectetur quis quaerat amet
          dolores.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list lines="none">
    <ion-item button mode="ios" [routerLink]="['/weare/about']">
      <ion-label>
        <h2>Field work</h2>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus deleniti ab sint repellat nostrum aliquam
          laboriosam neque? Iste, eos praesentium, quae vitae nesciunt, quod recusandae consectetur quis quaerat amet
          dolores.
        </p>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <iframe width="100%" height="250px" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"
      style="border:none;"></iframe>
  </ion-list>
</ion-content>
