<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button defaultHref="topstories"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Region
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <img src="../../../assets/map.jpeg" />
        <ion-card-header>
          <ion-item lines="none">
            <ion-card-title>Africa</ion-card-title>
            <ion-card-title slot="end">2 stories</ion-card-title>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-item button mode="ios">
      <ion-label>
        <p>Sudan</p>
        <ion-icon name="book" slot="start"></ion-icon>
        <span>1 story</span>
      </ion-label>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item button mode="ios">
      <ion-label>
        <p>Senegal</p>
        <ion-icon name="book" slot="start"></ion-icon>
        <span>1 story</span>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
