<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Campaigns</ion-title>
  </ion-toolbar>
  <ion-fab horizontal="end" vertical="top" slot="fixed" edge class="hnfab">
    <ion-fab-button activated="false">
      <ion-icon name="share"></ion-icon>
    </ion-fab-button>
    <ion-fab-list>
      <ion-fab-button color="light">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button color="light">
        <ion-icon name="logo-vimeo"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</ion-header>
<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="standup" selected="true">
        <ion-label>Stand Up!</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="torture">
        <ion-label>Torture</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="freeequal">
        <ion-label>Free & Equal</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
