<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" mode="ios">
      <ion-back-button defaultHref="/weare"></ion-back-button>
    </ion-buttons>
    <ion-title>
      About
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
  <h1>UN Human Rights</h1>
  <p>Our work is grounded in six thematic priorities: discrimination; widening democraxtic space; violence and
    insecurity; impunity and the rule of law, development and the economc sphere; and human rights mechanisms. Based in
    Geneva, Switzerland, we are led by High commissioner Zeid Ra'ad AL Hussein who speaks out in defense of the
    voiceless victims that we work to protect.
  </p>
  <p>Our work is grounded in six thematic priorities: discrimination; widening democraxtic space; violence and
    insecurity; impunity and the rule of law, development and the economc sphere; and human rights mechanisms. Based in
    Geneva, Switzerland, we are led by High commissioner Zeid Ra'ad AL Hussein who speaks out in defense of the
    voiceless victims that we work to protect.
  </p>
</ion-content>