.score-wrap{
  width: 100%;
  text-align: right;
}

.happy-icon{
  font-size: 100px;
}

.score-wrap{
  display: flex;
  flex-direction: column;
}

.score-txt{
  font-size: 50px;
}

.txt{
  font-size: 30px;
}

.swiper-slide {
  display: block;
  text-align: left;
}

.que-wrap{
  margin-left: 20px;
}

ion-badge{
  padding: 8px 16px;
}