<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Quiz</ion-title>
    <ion-buttons slot="end">
      <ion-button color="warning" [routerLink]="['/donate']">Donate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none" *ngIf="!isLast">
    <ion-badge color="primary" slot="end">Score: 0/10</ion-badge>
  </ion-item>
  <ion-slides>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:1</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>

    <ion-slide>
      <div class="que-wrap">
        <h2>Q:2</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>

    <ion-slide>
      <div class="que-wrap">
        <h2>Q:3</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
      
    </ion-slide>

    <ion-slide>
      <div class="que-wrap">
        <h2>Q:4</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:5</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:6</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:7</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:8</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:9</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <div class="que-wrap">
        <h2>Q:10</h2>
        <p>
          ISIL and Boko Haram are examples ofngroups that practice...
        </p>
      </div>
      <ion-radio-group>
        <ion-item lines="none">
          <ion-label>Ancient traditions</ion-label>
          <ion-radio slot="start" color="danger" value="Ancient traditions"></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Grape</ion-label>
          <ion-radio slot="start" color="danger" value="grape" checked></ion-radio>
        </ion-item>
        <ion-item lines="none">
          <ion-label>Cherry</ion-label>
          <ion-radio slot="start" color="danger" value="cherry"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-slide>
    <ion-slide>
      <ion-item lines="none">
        <ion-icon name="share" slot="end"></ion-icon>
      </ion-item>
      <div class="score-wrap ion-align-items-center ion-justify-content-center">
        <ion-icon name="happy" class="happy-icon"></ion-icon>
        <h1 class="score-txt">1 / 10</h1>
        <h2 class="txt">Better Next Time!</h2>
      </div>
    </ion-slide>
  </ion-slides>
  <div class="ion-text-center">
    <ion-button (click)="swipeNext()" *ngIf="!isLast">Next</ion-button>
    <ion-button (click)="navigateTo()" *ngIf="isLast" routerDirection="forward">Start Again</ion-button>
  </div>
</ion-content>
