<ion-content>
  <iframe width="100%" height="250px" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1"></iframe>
  <p class="ion-padding-horizontal">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit vero dolore libero voluptates? Ab, deserunt rerum dolorem itaque natus voluptatum adipisci consectetur! Nostrum pariatur perspiciatis ut doloremque, amet sit autem.
    See: <a href="https://goo.gl/6ozX0c">https://goo.gl/6ozX0c</a> for more.
  </p>
  <div class="ion-text-center">
    <ion-button color="light" [routerLink]="['/donate']">Donate now</ion-button>
  </div>
</ion-content>