<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Your rights</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/donate']">Donate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="learn" selected="true">
        <ion-label>Learn</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="universal">
        <ion-label>The universal declaration</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>

