<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card>
        <img src="../../../assets/shapes.svg" />
        <ion-card-header>
          <ion-card-title>Madison, WIGGGGGGGGG</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <img src="../../../assets/shapes.svg" />
        <ion-card-header>
          <ion-card-title>Madison, WIGGGG</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
    <ion-col size="6">
      <ion-card>
        <img src="../../../assets/shapes.svg" />
        <ion-card-header>
          <ion-card-title>Madison, WIGGG</ion-card-title>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
