ion-content{
  --background: #006DC3;
  --color: white;
}

ion-icon{
  font-size: 30px;
  vertical-align: middle;
}

.menu-wrap {
  position: relative;
  border-top: 1px solid #4B8BC3;

  &::before{
    position: absolute;
    content: '';
    border-left: 1px solid #4B8BC3;
    left: 50%;
    top: 0;
    bottom: 0;
  }

  ion-col {
    display: flex;
    flex-direction: column;
    padding: 30px 0;
    border-bottom: 1px solid #4B8BC3;
  }
}

ion-label{
  font-weight: 100;
}

.setting-wrap{
  ion-icon{
    margin-right: 8px;
  }
}