<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu type="overlay" contentId="main-content">
      <ion-header>
        <ion-toolbar>
          <ion-title>Main menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-menu-toggle auto-hide="false">
          <ion-row class="menu-wrap">
            <ion-col size="6" class="ion-justify-content-center ion-align-items-center" [routerLink]="['/TopStories']"
              [routerDirection]="'root'">
              <ion-icon name="book" class="ion-margin-bottom"></ion-icon>
              <ion-label>Top Stories</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-center ion-align-items-center" [routerLink]="['/news']"
              [routerDirection]="'root'">
              <ion-icon name="paper" class="ion-margin-bottom"></ion-icon>
              <ion-label>News</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-center ion-align-items-center" [routerLink]="['/campaigns']"
              [routerDirection]="'root'">
              <ion-icon name="megaphone" class="ion-margin-bottom"></ion-icon>
              <ion-label>Campaigns</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-center ion-align-items-center" [routerLink]="['/about']"
              [routerDirection]="'root'">
              <ion-icon name="thumbs-up" class="ion-margin-bottom"></ion-icon>
              <ion-label>About</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-center ion-align-items-center" [routerLink]="['/yourrights']"
              [routerDirection]="'root'">
              <ion-icon name="person" class="ion-margin-bottom"></ion-icon>
              <ion-label>Your rights</ion-label>
            </ion-col>
            <ion-col size="6" class="ion-justify-content-center ion-align-items-center" [routerLink]="['/quiz']"
              [routerDirection]="'root'">
              <ion-icon name="stopwatch" class="ion-margin-bottom"></ion-icon>
              <ion-label>Quiz</ion-label>
            </ion-col>
          </ion-row>
          <ion-row class="setting-wrap">
            <ion-col [routerLink]="['/settings']" [routerDirection]="'root'">
              <ion-icon name="settings"></ion-icon>
              <ion-label>Settings</ion-label>
            </ion-col>
          </ion-row>
        </ion-menu-toggle>

      </ion-content>
      <!-- <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label>
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content> -->
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
