.welcome-wrap{
  display: flex;
  height: 100%;
}

ion-content{
  --background: #0957a5;
  --color: white;

  p{
    font-size: 14px;
    margin-bottom: 24px;
  }

  .btn-learnmore{
    margin-bottom: 24px;
    --border-radius: none;
    --background: #CDCDCD;
    border: 1px inset #a6a6a6;
  }
}
