<ion-content class="ion-padding ion-text-center">
  <ion-grid class="welcome-wrap">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col>
        <h1 class="ion-margin-bottom">{{ 'WELCOME.TITLE' | translate }}</h1>
        <p class="ion-margin-bottom">{{'WELCOME.PARAONE' | translate}}</p>
        <p>You too can make a difference.Wherever you are,you can advocate for stronger respect,greater freedoms,more
          compassion. It starts with you!</p>
        <p>Informe yourself.Tke action. Donate.</p>
        <ion-button expand="block" color="light" class="btn-learnmore" [routerLink]="['/TopStories']">Learn More
        </ion-button>
        <ion-button expand="block" color="warning" class="btn-donate" [routerLink]="['/donate']">Donate</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>