<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>themes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-label>Notifications</ion-label>
  <ion-select value="notifications" interface="action-sheet">
    <ion-select-option value="enable">Enable</ion-select-option>
    <ion-select-option value="mute">Mute</ion-select-option>
    <ion-select-option value="mute_week">Mute for a week</ion-select-option>
    <ion-select-option value="mute_year">Mute for a year</ion-select-option>
  </ion-select>
</ion-content>