<ion-content>
  <ion-row>
    <ion-col size="12">
      <ion-card [routerLink]="['/regions']">
        <img src="../../../assets/map.jpeg"/>
        <ion-card-header>
          <ion-item lines="none">
            <ion-card-title>Africa</ion-card-title>
            <ion-card-title slot="end">2 stories</ion-card-title>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-card [routerLink]="['/regions']">
        <img src="../../../assets/map.jpeg"/>
        <ion-card-header>
          <ion-item lines="none">
            <ion-card-title>Americas</ion-card-title>
            <ion-card-title slot="end">1 story</ion-card-title>
          </ion-item>
        </ion-card-header>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
