<ion-header translucent>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Top stories</ion-title>
    <ion-buttons slot="end">
      <ion-button color="light" [routerLink]="['/donate']">Donate</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-tabs>
    <ion-tab-bar slot="top">
      <ion-tab-button tab="latest" selected="true">
        <ion-label>Latest</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bycountry">
        <ion-label>By country</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="bytheme">
        <ion-label>By theme</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
