<ion-content>
  <ion-list mode="ios" class="ion-no-margin">
    <iframe width="100%" height="250px" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1" style="border:none;">
    </iframe>
  </ion-list>
  <ion-list mode="ios" class="ion-no-margin">
    <iframe width="100%" height="250px" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1" style="border:none;">
    </iframe>
  </ion-list>
  <ion-list mode="ios" class="ion-no-margin">
    <iframe width="100%" height="250px" src="https://www.youtube.com/embed/tgbNymZ7vqY?autoplay=1" style="border:none;">
    </iframe>
  </ion-list>
</ion-content>
