<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>settings</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item lines="none">
    <ion-icon slot="start" name="notifications"></ion-icon>
    <ion-label>Settings for notifications</ion-label>
  </ion-item>
  <ion-item class="notification-wrap" lines="none">
    <ion-label>Enable notifications</ion-label>
    <ion-toggle color="primary" mode="ios"></ion-toggle>
  </ion-item>
  <ion-list class="personal-setting-wrap ion-margin-horizontal">
    <ion-radio-group class="personalise-radio" (ionChange)="btndisabled($event)">
      <ion-list-header class="ion-no-padding">
        <ion-item lines="none">
          <ion-icon slot="start" name="funnel"></ion-icon>
          <ion-label>Personalise your settings</ion-label>
        </ion-item>
      </ion-list-header>
      <ion-item lines="none" >
        <ion-label>Show all countries</ion-label>
        <ion-radio value="allcountries" slot="start" checked>
        </ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Show specific countries</ion-label>
        <ion-radio value="specificcountries" slot="start">
        </ion-radio>
      </ion-item>
      <div class="ion-text-center ion-margin-bottom">
        <ion-button color="light" class="selct-btn ion-text-capitalize" [disabled]="value==='allcountries'"
          [routerLink]="['/countries']">Select countries</ion-button>
      </div>
    </ion-radio-group>
  </ion-list>
  <ion-list class="personal-setting-wrap ion-margin-horizontal">
    <ion-radio-group class="personalise-radio" (ionChange)="btndisabled1($event)">
      <ion-item lines="none" >
        <ion-label>Show all themes</ion-label>
        <ion-radio value="alltheme" slot="start" checked></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Show specific themes</ion-label>
        <ion-radio value="specifictheme" slot="start"></ion-radio>
      </ion-item>
      <div class="ion-text-center ion-margin-bottom">
        <ion-button color="light" class="selct-btn ion-text-capitalize" [routerLink]="['/themes']"
          [disabled]="value1==='alltheme'">Select themes
        </ion-button>
      </div>
    </ion-radio-group>
  </ion-list>
  <ion-list class="ion-margin-horizontal">
    <ion-radio-group class="personalise-radio" [(ngModel)]='language' (ionChange)="languageChange()">
      <ion-list-header class="ion-no-padding">
        <ion-item lines="none">
          <ion-icon slot="start" name="book"></ion-icon>
          <ion-label>Select your language</ion-label>
        </ion-item>
      </ion-list-header>
      <ion-item lines="none">
        <ion-label>English</ion-label>
        <ion-radio value="en" slot="start" checked></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Espanol</ion-label>
        <ion-radio value="es" slot="start"></ion-radio>
      </ion-item>
      <ion-item lines="none">
        <ion-label>Francais</ion-label>
        <ion-radio value="fr" slot="start"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
</ion-content>