.notification-wrap {
  border-bottom: 1px solid lightgrey;
}
.personal-setting-wrap{
  border-bottom: 1px solid lightgrey;
}
.personalise-radio{
  > ion-item{
    padding-left: 36px;
  }

  ion-list-header{
    >ion-item {
      --padding-start: 0;
    }
  }

  .selct-btn{
    border: 1px solid lightgrey;
    width: 240px;
    --box-shadow:none;
    font-weight: normal;
  }
}
